# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Laptop_Thuis_1\IdeaProjects\Tutorial\Tutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

### Intellij ###

# .idea folder
.idea/

# File-based project format
*.iws
*.iml

# IntelliJ
out/
target/

# mpeltonen/sbt-idea plugin
.idea_modules/

*.txt